/* BOILERPLATE */
*{box-sizing:border-box; margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body, html{ min-height: 100vh;  background: var(--bgCol); }
/* 





/* COMPONENTS */


svg.logo{
  width: var(--sp8);
  height: var(--sp3);
}

/* TEST PANNEL */

.testPannel{
  width: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: helvetica;
}
.testPannel .toggleButton{
  float: right;
}

/* create css variables for spacing */
      