body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TEST PANNEL */

.testPannel{
  width: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
}
.testPannel .toggleButton{
  float: right;
}
